@{
    ViewData["Title"] = "Admin Panel";
}
<h2>Admin Panel</h2>
<ul>
    <li><a asp-action="Faculties">Fakülteler</a></li>
    <li><a asp-action="Departments">Bölümler</a></li>
    <li><a asp-action="Lessons">Dersler</a></li>
</ul>
